# question no -1

Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

---

answers:

In [3]:
test1='This is a test of the emergency text system,'
with open('test.txt','w') as f:
    f.write(test1)
    f.close()

# question no -2

Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

---

answers:

In [4]:
with open('test.txt','r') as f:
    test2=f.read()
    f.close
print(test1==test2)

True

# question no -3

Create a CSV file called books.csv by using these lines

`title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992`

---

answers:

In [5]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

'''

with open('books.csv','w') as f:
    f.writelines(text)
    f.close()

# question no -4

Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

---

answers:

In [17]:
import sqlite3

db=sqlite3.connect('books.db')
cursor=db.cursor()
cursor.execute('create table books ("title" text, "author" text, "year" int)')
db.commit()

# question no -5

Read books.csv and insert its data into the books table.

---

answers:

In [18]:
import csv
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute(f'insert into books values(?,?,?)',(book['title'],book['author'],book['year']))
db.commit()

# question no -6

Select and print the title column from the books table in alphabetical order.

---

answers:

In [20]:
cursor.execute('select title from books order by title asc')
cursor.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

# question no -7

 From the books table, select and print all columns in the order of publication

---

answers:

In [21]:
cursor.execute('select * from books order by year asc')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

# question no -8

Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

---

answers:

In [22]:
import sqlalchemy
db1 = sqlalchemy.create_engine('sqlite:///books.db')
db1

Engine(sqlite:///books.db)

# question no -9

Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

---

answers:

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

# question no -10

Increment the count field of test and print it

---

answers:

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')